:root{
    --DarkBlue: hsl(212, 21%, 14%);
    --GrayishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --DarkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --FontSize: 14px;
    --LightFont: 500;
    --BoldFont: 700;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    background-color: var(--Cream);
    font-family: cursive;
    display:flex;
    justify-content: center;
    align-items: center;
}
main{
    width:700px;
    height:500px;
    background-color: var(--White);
    display:flex;
    border-radius: 15px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow: hidden;
}
.imgContainer{
    width:350px;
    height: 500px;
    background: url(image-product-desktop.jpg);
    background-size: cover;
    background-position: center;
}
.texts{
    padding:30px;
    width:350px;
    height:500px;
}
.texts h6{
    font-size: var(--FontSize);
    font-weight: var(--LightFont);
    letter-spacing: 5px;
}
.texts h1{
    font-size:40px;
    line-height: 42px;
    font-weight: var(--BoldFont);
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}
.texts p{
    line-height:27px;
}
.price{
    display:flex;
    align-items: center;
    margin-top:25px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}
.main{
    color:var(--DarkCyan);
    font-size: 22px;
}
.real{
    font-weight: var(--LightFont);
    text-decoration-line: line-through;
    font-size: 10px;
    margin-left:30px;
}
.button{
    display: flex;
    background-color: var(--DarkCyan);
    width:100%;
    justify-content: center;
    align-items: center;
    padding:15px 0px;
    margin-top:25px;
    color:var(--White);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.button p{
    margin-left: 5px;
    font-weight: var(--BoldFont);
}
.button img{
    margin-right: 5px;
}
.button:hover{
    background-color: hsl(159, 100%, 11%);
}
@media (max-width:720px){
    main{
        flex-direction: column;
        width:345px;
        height:700px;
    }
    .imgContainer{
        background: url(image-product-mobile.jpg);
        width:100%;
        height:300px;
        background-position: center;
        background-size: cover;
    }
    .texts{
        width:345px;
        height: 400px;
    }
    .texts h1{
        font-size: 32px;
        line-height: 33px;
    }
    .texts p{
        font-size: 13px;
    }
    .price{
        margin-top:15px;
    }
    .button{
        margin-top:20px;
    }
}